In [9]:
import json
import pandas as pd
from alpha_vantage.timeseries import TimeSeries

In [10]:
def get_api_key(path):
    try:
        with open(path, 'r') as file:
            content = json.load(file)
            api_key = content['api_key']
            return api_key
    except FileNotFoundError:
        print("Error : JSON file was not found")
        return None
    except json.JSONDecodeError:
        print("Error : JSON file is invalid")
        return None
    except KeyError:
        print("Erreur : key 'api_key' is not defined in JSON file")
        return None

API key : J6SKRNV7DUZAPSDF

In [12]:

path = '../secrets/api_key.json'
api_key = get_api_key(path)

# Initialiser l'objet TimeSeries
ts = TimeSeries(key=api_key, output_format='pandas')

# Récupérer les données journalières pour IBM
data, meta_data = ts.get_daily(symbol='IBM', outputsize='full')

data.head()

            1. open  2. high  3. low  4. close  5. volume
date
2024-07-03   177.88  177.980  175.17    175.73  1649049.0
2024-07-02   174.84  177.485  174.32    177.30  2883275.0
2024-07-01   173.45  176.460  173.38    175.10  3320961.0
2024-06-28   170.85  173.460  170.53    172.95  4193459.0
2024-06-27   171.12  172.500  170.48    170.85  2894001.0